export(posteriorFeasibility)
export(newPMatrix)
export(optimalPortfolios)
export(addBLViews)
export(createBLViews, updateBLViews)
export(BLCOPOptions)
export(posteriorEst, BLPosterior)
export(CAPMList)
export(COPViews, BLViews, distribution, mvdistribution)
export(addCOPViews, COPPosterior)
export(createCOPViews)
export(viewMatrix, PMatrix, confidences, "confidences<-", "qv<-", "confidences<-", assetSet, "PMatrix<-")
export(sampleFrom)
export(runBLCOPTests)                                                                                                   
exportClasses(BLViews, COPViews, BLResult, COPResult, distribution, mvdistribution)
exportMethods(show, deleteViews, densityPlots)
export(posteriorMeanCov, posteriorSimulations, numSimulations, priorViews)
exportMethods(optimalPortfolios.fPort)
export(getPriorEstim, getPosteriorEstim)
import(MASS, methods, quadprog)
importFrom(fMultivar, hexBinning)
importFrom(fBasics, greyPalette, seqPalette)
importFrom(timeSeries, as.timeSeries)
importFrom(fPortfolio, portfolioSpec, 'setEstimator<-', 'setType<-', 'setWeights<-', 'setSolver<-', getWeights )
importFrom(RUnit, defineTestSuite, runTestSuite, printHTMLProtocol)
importFrom(graphics,abline)
importFrom(graphics,barplot)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(stats,approxfun)
importFrom(stats,coef)
importFrom(stats,density)
importFrom(stats,dnorm)
importFrom(stats,mahalanobis)
importFrom(stats,pchisq)
importFrom(utils,edit)
importFrom(utils,head)
importFrom(utils,tail)
